
.wrwsr-cricle-progressbar {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;

    svg {
        display: inline-flex;
        vertical-align: bottom;
        width: 100%;

    }

    circle {
        stroke: rgba(#DEE1E9, 0.25);
        stroke-width: 15px;
        stroke-dasharray: 0;
        fill: none;
    }

    .meter {
        stroke-width: 15px;
        stroke: #EA5C2B;
        fill: none;
        transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        transform-origin: center center;
        transform: rotate(-90deg) scaleX(-1);
    }

    text {
        fill: #EA5C2B;
        font-weight: bold;
    }
}
