@{
    ViewBag.Title = "重設密碼";
}

<div class="page-body">
    <div class="container-xl">

        <br />
        <div class="alert alert-info">
            <h3>@ViewBag.Title :</h3>
            <h4>
                @TempData["UserName"] 密碼已重設。
                @*請 @Html.ActionLink("按一下這裡登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            </h4>
        </div>

        <div class="tw-block-btn">
            @Html.ActionLink("返回列表", "Index", "User", null, new { @class = "btn btn-primary" })
        </div>

    </div>
</div>