@{
    ViewBag.Title = "苜頁";
}

@section header {

}

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-md-12">
                <div class="card">
                    <iframe src="https://teng5.shinyapps.io/SPI_region/" width="1280" height="1600"></iframe>


                </div>
            </div>
        </div>
    </div>
</div>


                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")

                        <script>
                            $(document).ready(function () {

                            });

                        </script>
                    }
