$menu_bgColor: #F3F5F7;
$menu_group_title_txtColor: #008b8b;
$menu_group_item_txtColor: #3a3a3a;
$menu_group_itemColor--disabled: #c2c2c2;
$menu_group_item_TxtColor--hover: #43be85;

$btn_txtColor--white:#fff;
$btn_txtColor--black: #404040;
$btn_defalut_bgColor: #607D8B;
$btn_defalut_bgColor--hover: #859ba6;
$btn_defalut_bgColor--active: #607D8B;
$btn_primary_bgColor: #607D8B;
$btn_primary_bgColor--hover: #607D8B;
$btn_primary_bgColor--active: #607D8B;
$btn_success_bgColor: #0ac282;
$btn_success_bgColor--hover: #607D8B;
$btn_success_bgColor--active: #607D8B;
$btn_info_bgColor: #0ac282;
$btn_info_bgColor--hover: #607D8B;
$btn_info_bgColor--active: #607D8B;
$btn_warning_bgColor: #0ac282;
$btn_warning_bgColor--hover: #607D8B;
$btn_warning_bgColor--active: #607D8B;
$btn_danger_bgColor: #0ac282;
$btn_danger_bgColor--hover: #607D8B;
$btn_danger_bgColor--active: #607D8B;
$btn_disabled_bgColor: #0ac282;
$btn_disabled_bgColor--hover: #607D8B;
$btn_disabled_bgColor--active: #607D8B;

$icon_info_color:#17629f;