@import "../color";
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
     .info.fas{
        color:$icon_info_color;
        font-size:16px;

        .clickable{
            cursor:pointer;
        }
    }
}
