
@for $i from 1 through 12 {
    ul.nav-tabs[role="tablist"].tab-col-#{$i} {
        .nav-item, .slide {
            width: calc(100%/#{$i});
        }

        .nav-item {
            .nav-link {
                font-size: 18px;
                font-family: 微軟正黑體;
                padding:10px 0px;
            }

            .nav-link.active {
                border: 1px solid #dddddd;
                border-radius: 0.5rem;
            }
        }
    }
}