<div class="d-flex justify-content-end pb-2 mb-4 result-switch-toggle-part">
    <div class="d-flex SwitchControl dark on">
        <div class="SwitchControl--slider">
            <div class="SwitchControl--knob"></div>

        </div>

        <div class="col-6 d-flex align-items-center justify-content-center align-content-center" style="z-index: 10;">
            <svg width="40" height="40" viewBox="-3 -5 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path stroke="#c4c4c4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M13.6667 4.3335H4.33341C3.62617 4.3335 2.94789 4.61445 2.4478 5.11454C1.9477 5.61464 1.66675 6.29292 1.66675 7.00016V25.6668C1.66675 26.3741 1.9477 27.0524 2.4478 27.5524C2.94789 28.0525 3.62617 28.3335 4.33341 28.3335H23.0001C23.7073 28.3335 24.3856 28.0525 24.8857 27.5524C25.3858 27.0524 25.6667 26.3741 25.6667 25.6668V16.3335"></path>
                <path stroke="#c4c4c4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M23.6667 2.33331C24.1972 1.80288 24.9166 1.50488 25.6667 1.50488C26.4169 1.50488 27.1363 1.80288 27.6667 2.33331C28.1972 2.86374 28.4952 3.58316 28.4952 4.33331C28.4952 5.08346 28.1972 5.80288 27.6667 6.33331L15.0001 19L9.66675 20.3333L11.0001 15L23.6667 2.33331Z"></path>
            </svg>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-center align-content-center" style="z-index: 10;">
            <svg width="30" height="25" viewBox="-2 1 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="#c4c4c4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M25 0H1L0 1V23L1 24H25L26 23V1L25 0ZM2 2H24V4H2V2ZM16 10H10V6H16V10ZM16 12V16H10V12H16ZM2 6H8V10H2V6ZM2 12H8V16H2V12ZM2 22V18H8V22H2ZM10 22V18H16V22H10ZM24 22H18V18H24V22ZM24 16H18V12H24V16ZM18 10V6H24V10H18Z"></path>
            </svg>
        </div>




    </div>
</div>