
@{
    ViewBag.Title = "Index";
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            @Html.Partial("~/Views/Partial/TablerElement/Demo/_DemoPageHeaderTitlePart.cshtml")
        </div>
    </div>
</div>

