<div class="modal fade modal-operate" id="modalImage" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-search"></span>
                    <span id="modalImageTitle">圖片</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                        <select id="ddlImage" class="form-control"></select>
                    </div>
                    <img id="imgView" src="" class="img-thumbnail" style="margin-top: 15px;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnPick">確定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
