<div class="modal fade modal-pdf" id="modalPdf" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-file"></span>
                    <span id="titleInfo"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="pdf-viewer">
                    <embed id="pdfContent" src="" type="application/pdf" style="height: 720px; width: 100%;">
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="關閉" />
                <a href="" target="_blank" class="btn btn-info pull-left" download>
                    <span class="glyphicon glyphicon-download-alt"></span> 下載
                </a>
            </div>
        </div>
    </div>
</div>