.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #1abbac;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #1abbac;
  border-color: #1abbac;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
.my-popover {
  max-width: initial;
  max-width: initial;
  border-top-color: #39f;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  border-top-color: #5fc897;
}
.my-popover .popover-header-part {
  display: flex;
}
.my-popover .popover-header-part button.page {
  place-self: center;
  font-size: 30px;
  list-style: none;
  width: 35px;
  height: 30px;
  line-height: 0;
  padding: 0;
  padding-bottom: 6px;
  background: transparent;
  border: none;
}
.my-popover .popover-header-part button.page.hidden {
  visibility: hidden;
}
.my-popover .popover-header-part button.page:hover {
  background-color: #e5f2ff;
}
.my-popover .popover-header-part button.page:focus {
  box-shadow: none;
  outline: none;
}
.my-popover .popover-header-part .popover-header {
  text-align: center;
  font-weight: bold;
  background-color: white;
  font-size: 0.95rem;
  flex-grow: 1;
}
.my-popover .popover-body {
  padding: 9px 9px;
}
.my-popover .popover-body .page.hidden {
  display: none;
}
.my-popover .popover-body .btn {
  padding: 0px;
  width: 60px;
  height: 60px;
  /*font-weight: bold;*/
  background: white;
  transition-duration: 0.3s;
}
.my-popover .popover-body .btn i {
  font-style: normal;
  margin-right: 0px;
  color: #666666;
}
.my-popover .popover-body .btn.selected {
  background-color: #5fc897 !important;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
.my-popover .popover-body .btn.selected i {
  color: white;
  font-weight: 600;
}
.my-popover .popover-body .btn:focus {
  box-shadow: none;
}
.my-popover .popover-body .btn:hover {
  background-color: #eaeaea;
}
.my-popover .popover-body input.input-box {
  text-align: center;
  max-width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border: 1px solid #cccccc;
  font-size: 16px;
  font-weight: 600;
}

.top_part {
  display: flex;
}
.top_part h1 {
  flex-grow: 1;
}
.top_part .right-part .function-part .fas-icon.circle {
  border-radius: 500px;
}
.top_part .right-part .function-part .fas-icon.invers {
  background-color: #607d8b;
}
.top_part .right-part .function-part .fas-icon.invers i {
  color: white;
}
.top_part .right-part .function-part .fas-icon.invers:hover {
  background-color: #659cb7;
  box-shadow: 2px 2px 3px 3px #c4c4c4ab;
}
.top_part .right-part .function-part .fas-icon.invers:active {
  background-color: #659cb7;
  box-shadow: none;
}
.top_part .right-part .function-part .fas-icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  transition-duration: 0.3s;
  outline: none;
  border: none;
}
.top_part .right-part .function-part .fas-icon i {
  font-size: x-large;
  color: #f44336;
  text-align: center;
  margin: 0;
  align-self: center;
}
.top_part .right-part .function-part {
  display: flex;
}
.top_part .right-part .function-part div {
  padding: 5px;
}
.top_part .right-part .function-part .dropdown .dropdown-menu.btm {
  top: -16px !important;
  left: -34px !important;
  box-shadow: 2px 2px 2px 2px #dad8d8a1;
}
.top_part .right-part .function-part .dropdown .dropdown-menu.btm:after {
  top: 36px;
  right: 26px;
  transform: rotate(225deg);
}
.top_part .right-part .function-part .dropdown .dropdown-menu {
  overflow: visible;
  border: none;
  top: 13px !important;
  left: -4px !important;
  padding: 5px 0px;
  margin: 0px;
  box-shadow: 4px 4px 2px 2px #dad8d8a1;
}
.top_part .right-part .function-part .dropdown .dropdown-menu a {
  font-size: 16px;
}
.top_part .right-part .function-part .dropdown .dropdown-menu a:active {
  background: white;
  color: black;
}
.top_part .right-part .function-part .dropdown .dropdown-menu:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 30px;
  transform: rotate(45deg);
  border: 10px solid #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
}
.top_part .right-part .function-part.btm {
  position: fixed;
  z-index: 110;
  bottom: 35px;
  right: 50px;
}

.card .flex {
  display: flex;
  flex-wrap: wrap;
}
.card .flex.center {
  justify-content: center;
}
@media (max-width: 1309px) {
  .card .flex.center {
    justify-content: initial;
  }
}
.card .card-header h5 {
  font-size: 20px;
}
.card .card-body .option .setting-container {
  padding: 5px 0px;
}
.card .card-body .option .setting-container .header-part {
  align-self: center;
  min-width: 170px;
}
.card .card-body .option .setting-container .header-part .option-title {
  font-size: 16px;
  font-weight: 900;
  text-align: end;
}
@media (max-width: 1309px) {
  .card .card-body .option .setting-container .header-part .option-title {
    text-align: initial;
  }
}
.card .card-body .option .datePickerGroup-container, .card .card-body .option .valueInputGroup-conatiner {
  width: 850px;
  background: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}
.card .card-body .option.collapsible {
  width: 100%;
  margin: auto;
  min-width: 215px;
  max-width: 950px;
}
.card .card-body .option.collapsible .header-part {
  display: flex;
  background-color: #e5e5e5;
  padding: 5px 15px;
  border-radius: 5px 5px 0px 0px;
}
.card .card-body .option.collapsible .header-part .option-title {
  flex-grow: 1;
  text-align: initial;
}
.card .card-body .option.collapsible .header-part button {
  border: none;
  background: no-repeat;
  font-size: 16px;
}
.card .card-body .option.collapsible .header-part button:focus {
  outline: none;
}
.card .card-body .option.collapsible .header-part button:hover {
  opacity: 0.8;
}
.card .card-body .option.collapsible .datePickerGroup-container, .card .card-body .option.collapsible .valueInputGroup-conatiner {
  width: inherit;
  background: whitesmoke;
  padding: 15px;
  border-radius: 5px;
}

#cardInitSetting .card-header {
  display: flex;
}
#cardInitSetting .card-header .header-part {
  flex-grow: 1;
}
#cardInitSetting .card-header .card-header-right {
  top: 0px;
  border-radius: 0 0 0 7px;
  right: auto;
  top: auto;
  display: inline-block;
  float: right;
  padding: initial;
  position: initial;
}
#cardInitSetting .card-header .card-header-right button {
  border: none;
  background: no-repeat;
  font-size: 16px;
}
#cardInitSetting .card-header .card-header-right button:focus {
  outline: none;
}
#cardInitSetting .card-body #SimulationTimeSettingPart .datePickerGroup-container .datePickerGroup input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 150px;
}
#cardInitSetting .card-body #SimulationTimeSettingPart .datePickerGroup-container .dateRangeMiddleTxt {
  font-size: 16px;
  padding: 0px 5px;
  align-self: center;
}
#cardInitSetting .card-body #SimulationTimeSettingPart .datePickerGroup-container .input-group {
  margin: 5px;
  width: auto;
}
#cardInitSetting .card-body #SimulationTimeSettingPart .datePickerGroup-container .input-group input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
#cardInitSetting .card-body #SimulationTimeSettingPart .datePickerGroup-container .input-group .cbk-elem {
  align-self: center;
  margin: 0px 15px;
  font-size: 16px;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button[disabled=disabled] {
  background-color: #a9a9a9;
  cursor: not-allowed !important;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button[disabled=disabled]:hover {
  background-color: #a9a9a9 !important;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button[disabled=disabled]:before {
  background-color: #a9a9a9;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button {
  background-color: #87b94c;
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button:hover {
  background-color: #016d6f !important;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button:before {
  background-color: #b5d590;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group input {
  margin: 5px;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group {
  margin: 5px;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
#cardInitSetting .card-body #EffectiveStorageSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .cbk-elem {
  align-self: center;
  margin: 0px 15px;
  font-size: 16px;
}
#cardInitSetting .card-body #HistoryStorageSettingPart input#HistoryYear {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 300px;
  margin: 5px;
}
#cardInitSetting .card-body #querybtnPart .valueInputGroup-conatiner {
  min-height: 68px;
}
#cardInitSetting .card-body #querybtnPart .btn-group {
  display: flex;
  justify-content: flex-end;
}
#cardInitSetting .card-body #querybtnPart .btn-group button {
  background: #607d8b;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 13px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition-duration: 0.25s;
}
#cardInitSetting .card-body #querybtnPart .btn-group button.circle {
  background: #dddddd;
  color: #607d8b;
  border-radius: 650px;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 5px;
}
#cardInitSetting .card-body #querybtnPart .btn-group button.circle i {
  margin: 0px;
}
#cardInitSetting .card-body #querybtnPart .btn-group button:hover {
  background-color: #659cb7;
  box-shadow: 2px 2px 3px 3px #c4c4c4ab;
}
#cardInitSetting .card-body #querybtnPart .btn-group button:active {
  background-color: #607d8b;
  box-shadow: none;
}
#cardInitSetting .card-body #querybtnPart .btn-group #startSimulation.btm {
  right: 150px;
}
#cardInitSetting .card-body #querybtnPart .btn-group #clearAllSetting.btm {
  right: 40px;
}
#cardInitSetting .card-body #querybtnPart .btn-group #addNewMethodSection.btm {
  right: 90px;
}
#cardInitSetting .card-body #querybtnPart .btn-group #addNewMethodSection.btm #functionMenuButton {
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 900px;
}
#cardInitSetting .card-body #querybtnPart .btn-group #addNewMethodSection.btm i.fas {
  margin: 0px;
}
#cardInitSetting .card-body #querybtnPart .btn-group .btm {
  position: fixed;
  bottom: 33px;
  z-index: 109;
  transition-duration: 0s;
}

.cardMethodArea .cardMethodSetting .card-body #MethodNameSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group {
  margin: 5px;
}
.cardMethodArea .cardMethodSetting .card-body #MethodNameSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group input {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button {
  background-color: #87b94c;
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button:hover {
  background-color: #016d6f !important;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group button:before {
  background-color: #b5d590;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group input {
  margin: 5px;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group .cbx {
  display: flex;
  margin: 0;
}
.cardMethodArea .cardMethodSetting .card-body #InflowSettingPart .valueInputGroup-conatiner .valueInputGroup .btn-group .cbx .cbk-elem {
  align-self: center;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .selection-elem {
  margin: 0px 5px;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .selection-elem span {
  font-size: 15px;
  color: #828282;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .selection-elem select {
  font-size: 16px;
  height: initial;
  min-width: 170px;
  text-align-last: center;
  text-align: center;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .cbk-elem {
  align-self: center;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .LostPercentage {
  /* width: 100%; */
  margin-left: 15px;
  padding-left: 5px;
  /* border-left: 2px solid #87b94c; */
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .LostPercentage .title {
  cursor: default;
  font-size: 18px;
  align-self: center;
  font-weight: 800;
  padding: 5px;
  text-align: end;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .LostPercentage .divider {
  cursor: default;
  font-size: 18px;
  align-self: center;
  font-weight: 800;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .LostPercentage .percentage-txt {
  cursor: default;
  font-size: 18px;
  align-self: center;
  font-weight: 800;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting .card-body #UsedWaterSettingPart .LostPercentage input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 80px;
  width: 100%;
  height: max-content;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group {
  margin-bottom: 0px;
  border: 1px solid #d1d1d1;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 15px 0px;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-group-title {
  align-self: center;
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
  font-weight: 600;
  min-width: 50px;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-group-container {
  width: inherit;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-group-container .flex {
  flex-wrap: nowrap;
  width: inherit;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .cbk-elem {
  min-width: 18px;
  align-self: center;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-elem {
  margin: 0px 5px;
  width: inherit;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-elem span {
  font-size: 15px;
  color: #828282;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting .card-body #IrrigationSettingPart .valueInputGroup-conatiner .valueInputGroup .checkbox-group .input-group .input-elem input {
  font-size: 16px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container {
  padding: 0px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .datePickerGroup input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 150px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
  font-size: 16px;
  padding: 0px 5px;
  align-self: center;
}
@media (max-width: 598px) {
  .cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
    width: 100%;
    text-align: center;
  }
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group {
  margin: 5px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group .cbk-elem {
  align-self: center;
  margin: 0px 15px;
  font-size: 16px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group {
  margin-bottom: 0px;
  border: 1px solid #d1d1d1;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 15px 0px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-title {
  align-self: center;
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
  font-weight: 600;
  min-width: 100px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content select {
  margin: 0px 20px 0px 0px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .delay-part div.flex {
  flex-wrap: nowrap;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .delay-part span {
  cursor: default;
  font-size: 18px;
  align-self: center;
  font-weight: 800;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .delay-part input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 100px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #DelayIrrigSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .delay-part i {
  font-size: 22px;
  align-self: center;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container {
  padding: 0px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .datePickerGroup input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 150px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
  font-size: 16px;
  padding: 0px 5px;
  align-self: center;
}
@media (max-width: 598px) {
  .cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
    width: 100%;
    text-align: center;
  }
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group {
  margin: 5px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group .cbk-elem {
  align-self: center;
  margin: 0px 15px;
  font-size: 16px;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group {
  margin-bottom: 0px;
  border: 1px solid #d1d1d1;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 15px 0px;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-title {
  align-self: center;
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
  font-weight: 600;
  min-width: 100px;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content {
  display: flex;
  flex-wrap: wrap;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .percent-part {
  margin: 0px 20px;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .percent-part div.flex {
  flex-wrap: nowrap;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .percent-part input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 80px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #DiscountSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .percent-part i {
  font-size: 22px;
  align-self: center;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container {
  padding: 0px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .datePickerGroup input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 150px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
  font-size: 16px;
  padding: 0px 5px;
  align-self: center;
}
@media (max-width: 598px) {
  .cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .dateRangeMiddleTxt {
    width: 100%;
    text-align: center;
  }
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group {
  margin: 5px;
  width: auto;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .datePickerGroup-container .input-group .cbk-elem {
  align-self: center;
  margin: 0px 15px;
  font-size: 16px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group {
  margin-bottom: 0px;
  border: 1px solid #d1d1d1;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 15px 0px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-title {
  align-self: center;
  margin-right: 10px;
  font-size: 16px;
  color: #828282;
  font-weight: 600;
  min-width: 100px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content {
  display: flex;
  flex-wrap: wrap;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .interval-part {
  margin: 0px 20px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .interval-part div.flex {
  flex-wrap: nowrap;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .interval-part span {
  cursor: default;
  font-size: 18px;
  align-self: center;
  font-weight: 800;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .interval-part input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 80px;
  width: 100%;
}
.cardMethodArea .cardMethodSetting #IntermittentSettingPart .valueInputGroup-conatiner .valueInputGroup .input-group .input-group-content .interval-part i {
  font-size: 22px;
  align-self: center;
  padding: 5px;
}
.cardMethodArea .cardMethodSetting #querybtnPart .btn-group {
  display: flex;
  justify-content: flex-end;
}
.cardMethodArea .cardMethodSetting #querybtnPart .btn-group button {
  background: #da382c;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition-duration: 0.25s;
}
.cardMethodArea .cardMethodSetting #querybtnPart .btn-group button:hover {
  background-color: #f44336;
  box-shadow: 2px 2px 3px 3px #c4c4c4ab;
}
.cardMethodArea .cardMethodSetting #querybtnPart .btn-group button:active {
  background-color: #f44336;
  box-shadow: none;
}

#SimulationResult .table-part .table-info:hover {
  border-color: #9d9d9d;
}
#SimulationResult .table-part .table-info {
  display: flex;
  background-color: #d3d3d3;
  border: 1px solid #d1d1d1;
  border-bottom-color: transparent;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}
#SimulationResult .table-part .table-info .title {
  font-size: 18px;
  font-weight: 900;
  flex-grow: 1;
}
#SimulationResult .table-part .table-info .unit {
  font-size: 18px;
  font-weight: 900;
}

#DayEffectiveStorageModal {
  padding-right: 0px !important;
}
@media (min-width: 576px) {
  #DayEffectiveStorageModal .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
}
#DayEffectiveStorageModal .modal-dialog .modal-content {
  border: none;
}
.modal[role=dialog] .flex {
  display: flex;
  flex-wrap: wrap;
}
.modal[role=dialog] .flex.center {
  justify-content: center;
}
@media (max-width: 1309px) {
  .modal[role=dialog] .flex.center {
    justify-content: initial;
  }
}
@media (min-width: 576px) {
  .modal[role=dialog] .size-xs[role=document] {
    max-width: 500px;
  }
}
@media (min-width: 576px) {
  .modal[role=dialog] .size-s[role=document] {
    max-width: 600px;
  }
}
@media (min-width: 576px) {
  .modal[role=dialog] .size-m[role=document] {
    max-width: 750px;
  }
}
@media (min-width: 576px) {
  .modal[role=dialog] .size-l[role=document] {
    max-width: 900px;
  }
}
@media (min-width: 576px) {
  .modal[role=dialog] .size-xl[role=document] {
    max-width: 1200px;
  }
}
.modal[role=dialog] .modal-dialog .modal-content {
  border-radius: 0;
  background: transparent;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-header {
  /*border-bottom: none;*/
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  /* border-top: 1px solid; */
  background: white;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-header .modal-title {
  font-weight: 800;
  color: #545454;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-header button.close {
  margin-top: 0px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-header button.close i {
  font-size: 22px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-header button.close:focus {
  outline: none;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body {
  background: white;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body .datePickerGroup-container .datePickerGroup input {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  max-width: 150px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body .datePickerGroup-container .dateRangeMiddleTxt {
  font-size: 16px;
  padding: 0px 5px;
  align-self: center;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body .option .setting-container {
  padding: 5px 0px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body .option .setting-container .header-part {
  align-self: center;
  min-width: 100px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body .option .setting-container .header-part .option-title {
  font-size: 18px;
  font-weight: 900;
  text-align: end;
  color: #545454;
}
@media (max-width: 1309px) {
  .modal[role=dialog] .modal-dialog .modal-content .modal-body .option .setting-container .header-part .option-title {
    text-align: initial;
  }
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body #QueryResult.txt {
  font-size: 18px;
  font-weight: 900;
  color: #545454;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body #QueryResult.table {
  padding: 15px;
  margin-bottom: 0px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-body #QueryResult.table .bootstrap-table {
  border-bottom: 1px solid #e9ecef;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer {
  background: white;
  /*border-top: none;*/
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn {
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  transition-duration: 0.25s;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 25px;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn:focus {
  outline: none;
  box-shadow: none;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn:hover {
  box-shadow: 3px 5px 1px 1px #c4c4c470;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.default {
  color: #000;
  border: 1px solid #e4e4e4;
  background-color: #dadada;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.default:hover {
  color: #000;
  border: 1px solid #e4e4e4;
  background-color: #efefef;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.default:active {
  background-color: #e4e4e4;
  box-shadow: none;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.primary {
  color: white;
  background-color: #607d8b;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.primary:hover {
  background-color: #659cb7;
}
.modal[role=dialog] .modal-dialog .modal-content .modal-footer .cndss-btn.primary:active {
  background-color: #607d8b;
  box-shadow: none;
}

.controlBtnSet {
  width: 280px;
  height: 80px;
  background: rgba(88, 87, 87, 0.3);
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  border: 1px solid rgba(209, 209, 209, 0.5);
  box-shadow: 3px 4px 4px 0 rgba(70, 70, 70, 0.3);
  z-index: 100;
}

.controlBtnSet.hide {
  display: none;
}
